// Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
    font-family: 'AkzidenzGroteskBQCondensedBold';
    src: url("../fonts/AkzidenzGroteskBQCondensedBold.eot");
    src: local("☺"), url("../fonts/AkzidenzGroteskBQCondensedBold.woff") format("woff"), url("../fonts/AkzidenzGroteskBQCondensedBold.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBQCondensedBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url("../fonts/BebasNeueRegular.eot");
    src: local("☺"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

// Шрифт по умолчанию
$fontfamily:"PT Sans";


//<ПЕРЕМЕННЫЕ>
$minwidth:320px;
$mw:880;
$md1:$mw+12;
$md2:767.98;
$md3:767.98;
$md4:479.98;
//</ПЕРЕМЕННЫЕ>

//<ОСНОВНАЯ СЕТКА>
.container {
    max-width: $mw+px;
    margin: 0 auto;
    width: 100%;

    @media (max-width:$md1+px) {
        max-width: 750px;
    }

    @media (max-width:$md2+px) {
        max-width: none;
        padding: 0 10px;
    }
}

//</ОСНОВНАЯ СЕТКА>

// Миксины
@import "mixins.scss";
@import "header.scss";
@import "footer.scss";

// Обнуление: общие параметры
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    position: relative;
    width: 100%;
    color: #000;
}

body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: "PT Sans";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body.lock {
    overflow: hidden;
}

@media (max-width: 767.98px) {
    body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden;
    }
}

input,
button,
textarea {
    font-family: "PT Sans";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

// Основной блок
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}

// Основная сетка
.container {
    max-width: 880px;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 892px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

.ibg {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {

    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

// ==================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
    height: 50px;
    line-height: 50px;
    background-color: #000;
    display: inline-block;
    padding: 0px 33px;
    font-size: 15px;
    font-family: 'Bebas';
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.5px;

    &_w {
        background-color: #ffffff;
        color: #000;
    }

    &:hover {}

    &.fw {
        width: 100%;
    }
}

//</BUTTONS>====================================================================================================