// Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
    font-family: 'AkzidenzGroteskBQCondensedBold';
    src: url("../fonts/AkzidenzGroteskBQCondensedBold.eot");
    src: local("☺"), url("../fonts/AkzidenzGroteskBQCondensedBold.woff") format("woff"), url("../fonts/AkzidenzGroteskBQCondensedBold.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBQCondensedBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url("../fonts/BebasNeueRegular.eot");
    src: local("☺"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

// Шрифт по умолчанию
$fontfamily:"PT Sans";


//<ПЕРЕМЕННЫЕ>
$minwidth:320px;
$mw:880;
$md1:$mw+12;
$md2:767.98;
$md3:767.98;
$md4:479.98;
//</ПЕРЕМЕННЫЕ>

//<ОСНОВНАЯ СЕТКА>
.container {
    max-width: $mw+px;
    margin: 0 auto;
    width: 100%;

    @media (max-width:$md1+px) {
        max-width: 750px;
    }

    @media (max-width:$md2+px) {
        max-width: none;
        padding: 0 10px;
    }
}

//</ОСНОВНАЯ СЕТКА>

// Миксины
@import "mixins.scss";
@import "header.scss";
@import "footer.scss";

// Обнуление: общие параметры
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    position: relative;
    width: 100%;
    color: #000;
}

body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: "PT Sans";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body.lock {
    overflow: hidden;
}

@media (max-width: 767.98px) {
    body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden;
    }
}

input,
button,
textarea {
    font-family: "PT Sans";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

// Основной блок
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}

// Основная сетка
.container {
    max-width: 880px;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 892px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

.ibg {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {

    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

// ==================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
    height: 50px;
    line-height: 50px;
    background-color: #000;
    display: inline-block;
    padding: 0px 33px;
    font-size: 15px;
    font-family: 'Bebas';
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.5px;

    &_w {
        background-color: #ffffff;
        color: #000;
    }

    &:hover {}

    &.fw {
        width: 100%;
    }
}

//</BUTTONS>====================================================================================================


.private {
    @include flexbox();
    background-color: #000000;
    margin-bottom: 75px;

    @media (max-width:$md1+px) {
        margin-bottom: 40px;
    }
}

.private__column {
    flex: 0 0 50%;

    @media (max-width:549px) {
        flex: 1 1 100%;

        &:first-child {
            display: none;
        }
    }
}

.private__image {
    height: 100%;
}

.private-body {
    padding: 75px 20px 75px 60px;

    @media (max-width:$md1+px) {
        padding: 30px 20px 30px 30px;
    }
}

.private-body-content {
    max-width: 305px;
}

.private-body-title {
    font-family: 'AkzidenzGroteskBQCondensedBold';
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 30px 0;

    @media (max-width:$md1+px) {
        font-size: 35px;
        margin: 0 0 20px 0;
    }
}

.private-body-text {
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    margin: 0 0 50px 0;

    @media (max-width:$md1+px) {
        margin: 0 0 30px 0;
    }
}

.private-body-buttons {
    @include flexbox();
    align-items: center;
}

.private-body-buttons__item {}

.private-body-buttons__link {
    font-family: 'Bebas';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    text-decoration: underline;
    margin: 0 0 0 15px;
    letter-spacing: 1.5px;
}

// ====================================================================================================


.products {
    margin: 0 0 40px 0;

    @media (max-width:$md1+px) {
        margin: 0;
    }
}

.products-body {
    @include flexbox();

    @media (max-width:$md1+px) {
        flex-wrap: wrap;
    }

}

.products__column {
    flex: 0 0 25%;
    margin: 0 0 40px 0;

    @media (max-width:$md1+px) {
        flex: 0 0 50%;
    }

    @media (max-width:380px) {
        flex: 0 0 100%;
    }

}

.products-item {
    @include flexbox();
    flex-direction: column;
    height: 100%;
}

.products-item__image {
    display: block;
    padding: 0 0 100% 0;
    margin: 0 0 25px 0;

    @media (max-width:380px) {
        margin: 0 0 15px 0;
    }
}

.products-item__title {
    height: 50px;
    overflow: hidden;
    padding: 0 10px 0 0;
    max-width: 185px;
    display: block;
    font-family: 'AkzidenzGroteskBQCondensedBold';
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #000000;
    font-size: 25px;
    margin: 0 0 30px 0;

    @media (max-width:380px) {
        max-width: none;
        height: auto;
        overflow: visible;
        margin: 0 0 20px 0;
    }
}

.products-item__text {
    flex: 1 1 auto;
    padding: 0 10px 0 0;
    max-width: 185px;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 25px 0;

    @media (max-width:380px) {
        max-width: none;
        margin: 0 0 15px 0;
    }
}

.products-item__btn {
    margin: 0 0 29px 0;
}

.products-item__link {
    font-family: 'Bebas';
    text-transform: uppercase;
    color: #000000;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-decoration: underline;
}

// ========================================================================================================================================


.why {}

.why-top {
    @include flexbox();
    background-color: #000000;
}

.why-top__column {
    flex: 0 0 50%;

    @media (max-width:$md1+px) {
        flex: 1 1 100%;

        &:last-child {
            display: none;
        }
    }
}

.why-top__text {
    color: #ffffff;
    text-align: right;
    font-family: 'AkzidenzGroteskBQCondensedBold';
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 50px 60px 50px 0;

    @media (max-width:$md1+px) {
        padding: 30px 0;
        font-size: 40px;
        text-align: center;
    }

    @media (max-width:$md2+px) {
        padding: 20px 0;
        font-size: 30px;
        text-align: center;
    }
}

.why-top__image {
    height: 100%;
}

.why-body-row {
    @include flexbox();
    flex-wrap: wrap;
}

.why-body {
    padding: 50px 0 0 0;
    background-color: #ebebeb;

    @media (max-width:$md4+px) {
        padding: 30px 0 0 0;
    }
}

.why-body__column {
    flex: 0 0 50%;
    margin: 0 0 50px 0;

    @media (max-width:$md1+px) {
        flex: 1 1 100%;
    }

    @media (max-width:$md4+px) {
        margin: 0 0 30px 0;
    }
}

.why-body-item {
    @include flexbox();
}

.why-body-item__icon {
    flex: 0 0 100px;
    height: 100px;
    background-color: #000000;
    @include flexbox();
    justify-content: center;
    align-items: center;

    @media (max-width:$md4+px) {
        flex: 0 0 80px;
        height: 80px;
        padding: 15px;

        img {
            max-width: 100%;
        }
    }
}

.why-body-item-body {
    flex: 1 1 100%;
    padding: 0 0 0 11px;
    @include flexbox();
    flex-direction: column;
}

.why-body-item-body__title {
    flex: 1 1 auto;
    font-family: 'AkzidenzGroteskBQCondensedBold';
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    @media (max-width:$md4+px) {
        font-size: 20px;
    }
}

.why-body-item-body__text {
    font-size: 15px;
    line-height: 25px;
    padding: 0 15px 0 0;
}

// ==========================================================================================================================